body{
    background-color: #000000;
    opacity: 1;
    background: radial-gradient(circle, transparent 20%, #000000 20%, #000000 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #000000 20%, #000000 80%, transparent 80%, transparent) 10px 10px, linear-gradient(#6c21cc 0.8px, transparent 0.8px) 0 -0.4px, linear-gradient(90deg, #6c21cc 0.8px, #000000 0.8px) -0.4px 0;
    background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}