<section class="banner" id="banner">
    <div class="container w-75 pt-5">
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner rounded-4">
          <div class="carousel-item active">
            <img
              src="{{this.img1}}"
              class="banner-image d-block w-100"
              alt="imagen1"
            />
          </div>
          <div class="carousel-item">
            <img
              src="{{this.img2}}"
              class="banner-image d-block w-100"
              alt="imagen2"
            />
          </div>
          <div class="carousel-item">
            <img
              src="{{this.img3}}"
              class="banner-image d-block w-100"
              alt="imagen3"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>

        <div class="box1 pt-3">
          <h2>
            "Programando, tu emprendimiento tiene todo el reconocimiento"
          </h2>
        </div>
      </div>
    </div>
  </section>
