body{
    background-color: #c179f4;
    opacity: 1;
    background-image: radial-gradient(circle at center center, #000000, #c179f4), repeating-radial-gradient(circle at center center, #000000, #000000, 40px, transparent 80px, transparent 40px);
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
}