<body class="body-ud">
<div>
    <div class="details-header">
    <div class="img-details-container">
    <img class="img-details"
      src="{{ this.devService.devs.data.image }}"
      alt="..."
      
    />
    <h2 class="details-name">
      {{ this.devService.devs.data.firtsName }}
      {{ this.devService.devs.data.lastName }}
      <h4 class="details-devtype">{{this.devService.devs.data.devType}} Developer</h4>
      
    </h2>
    <h4 class="details-id me-4"> ID: {{this.devService.devs.data._id}}</h4>
  </div>
  <div class="details-titles d-flex  mt-4">
    <div class="details-body">
      <div class="details-contact">
        <h3 class="contact-tittle">Informacion De Contacto</h3>
      <h6 class="details-email"><strong>Email:</strong> {{this.devService.devs.data.email}}</h6>
      <h6 class="details-numberphone"><strong>Numero de telefono:</strong> {{this.devService.devs.data.numberPhone}}</h6>
    </div>
    <div class="api-info">
      <h3 class="contact-tittle">Informacion De La Aplicacion</h3>
      <h6 class="details-tecno"><strong>Conocimientos y aptitudes:</strong> {{this.devService.devs.data.tecno}}</h6>
      <h6 class="details-proyects"><strong> Proyectos personales:</strong> {{this.devService.devs.data.proyects}}</h6>
      <h6 class="details-experience"><strong>Experiencia personal:</strong> {{this.devService.devs.data.experience}}</h6>
    </div>
    </div>
  </div>
    </div>
</div>
<div class="footer-img">
  <img class="img-fo" src="assets/images/softlution_1.png" alt="">
</div>
  </body>
   